<!DOCTYPE html>
<html>
  <head>
    <title>ConnectThroughWordOfMouth</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="top-wrapper">
  <div class="top-message flex space">
  <div class="top-left">
    <% current_user = User.find_by(id: session[:user_id]) %>
    <% if current_user %>
      <p class="smile">こんにちは、<%= link_to("/users/#{current_user.id}/show",{class: "current-user"}) do %>
      <%= current_user.name %>
      <% end %>さん！</p>
    <% else %><p class="smile">こんにちは、ゲストさん！</p>
    <% end %>
    <header>
      <%= render "layouts/header" %>
    </header>
    <div>
      <%# app/assets/images %>
      <%= image_tag "toplogo.png", alt: "トップ画面ロゴ", id: "assets", class: "image", width: "800px" %>
    </div>
    <%= yield %>
    </div>
   </div>
  </div>   
  </body>
  <footer>
    <p>© 2020 KoichiHatano, All Rights Reserved.</p>
  </footer>
</html>
